---
interface Props {
  title: string;
  image: string;
  description: string;
  link?: string;
  technologies?: string[];
}

const { image, title, description, link, technologies } = Astro.props;
---

<div
  class="flex flex-1 min-w-[400px] max-w-[500px] flex-col rounded-xl bg-slate-700 bg-clip-border text-white shadow-md"
>
  <div class="w-full shadow-xl">
    <img class="w-full h-60 object-cover rounded-t-xl" src={image} alt="" />
  </div>
  <div class="p-6 flex flex-col justify-center h-full">
    <h5
      class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased"
    >
      {title}
    </h5>
    <p
      class="block font-sans text-base font-light leading-relaxed text-inherit antialiased"
    >
      {description}
    </p>
    {
      technologies && (
        <div class="pt-2 flex gap-2 flex-wrap">
          {technologies.length > 0 &&
            technologies.map((technologie) => (
              <div class="rounded-3xl text-sm font-medium bg-slate-800 px-3 py-1">
                #{technologie}
              </div>
            ))}
        </div>
      )
    }
    {
      link && (
        <div class="pt-6">
          <a
            href={link}
            class="select-none rounded-lg bg-blue-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          >
            Ver sitio
          </a>
        </div>
      )
    }
  </div>
</div>
