---
interface Props {
  title: string;
  description: string;
  keywords: string[];
  url: string;
  imageUrl: string;
}

const { title, description, keywords, url, imageUrl } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords.join(", ")} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={imageUrl} />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={imageUrl} />
    <meta name="twitter:url" content={url} />

    <!-- Canonical Link -->
    <link rel="canonical" href={url} />
  </head>
  <body id="main-menu">
    <slot />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    width: 100%;
    min-height: 100svh;
    overflow-x: hidden;
    background-color: rgb(4, 13, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>

<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/simple-scrollspy/2.4.1/simple-scrollspy.min.js"
  integrity="sha512-NNb5TgmE+7PHedvAWwPKZ/ukCGJciTHZ23ghPriEeEfcGySDBm9zIrjaXp/WNAUcVYhi5XhJ1rHveDKR35CInw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
<script is:inline>
  window.onload = function () {
    scrollSpy("#main-menu", {
      sectionClass: ".scrollspy",
      activeClass: "text-scooter-400",
      menuActiveTarget: ".menu-item",
      offset: 80,
    });
  };
</script>
